<app-cabecera></app-cabecera>

<br><br>

<h1 style="text-align: center;">Agregar Excel</h1>
<input type="file" (change)="readExcel($event)">
<hr>
<table class="table table-striped">
    <tbody>
        <tr *ngFor="let x of excelData; let i = index;">
            <div *ngIf="i==0"></div>
            <button *ngIf="i>0" (click)="generarReporte(x)">Generar reporte</button>
            
            <td *ngFor="let cell of x;">
                   {{cell}}
            </td>
        </tr>
    </tbody>
</table>
<button *ngIf="this.show" (click)="generarTodosReportes()">Generar Reportes</button>